
@{
    ViewData["Title"] = "Contacto";
}

<h1>Informacion de contacto</h1>
<br />
<br />
<table class="container text-center">
    <tr>
        <th class="align-items-center">
            <img src="https://image.flaticon.com/icons/svg/211/211746.svg"
                 height="50px" width="50px" /><br />
            <h3>Teléfonos</h3>
        </th>
        <th>
            <br />
            <img src="https://image.flaticon.com/icons/svg/211/211731.svg"
                 height="50px" width="50px" /><br />
            <h3>Emails</h3>
        </th>
    </tr>
    <tr>
        <td class="text-center">+51 985457812</td>
        <td class="text-center">mike.666@gmail.com</td>
    </tr>
    <tr>
        <td class="text-center">+51 965865366</td>
        <td class="text-center">crowley.666@mail.com</td>
    </tr>
</table>
