

@{Layout = null;}



<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DentoWeb</title>
    <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/152018/isolated/preview/c728796e46fb111cce09ffd324a40949-diente-colorido-icono-by-vexels.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap" rel="stylesheet">
    <link href="~/css/principal.css" rel="stylesheet" />
</head>

<body>
    <header>
        <button class="btn"><a href="~/Home/Registro">Separe su cita</a></button>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <p>
            <img style="display:block;margin:auto;width: auto;height: 300px; margin-top: 150px;" src="https://images.vexels.com/media/users/3/152018/isolated/preview/c728796e46fb111cce09ffd324a40949-diente-colorido-icono-by-vexels.png" alt="">
        </p>
        <section class="textos-header">
            <h1 style="font-size: 70px; text-align: center;">DentoWeb</h1>
            <h2>Para tu salud bucal, los más confiables.</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-100.17,-20.23 C252.54,186.02 368.79,-37.02 500.00,49.98 L500.27,153.45 L0.00,150.00 Z" style="stroke: none; fill: rgb(100, 149, 237);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="https://image.flaticon.com/icons/png/512/1907/1907285.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eos dolor odio autem cum labore placeat quod minima delectus? Nobis eum tempore ea vero atque a dolorem hic tenetur assumenda!</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eos dolor odio autem cum labore placeat quod minima delectus? Nobis eum tempore ea vero atque a dolorem hic tenetur assumenda!</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="image-port">
                        <img src="https://www.dentalbejarano.es/wp-content/uploads/primera-vez-al-dentista-1030x601.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://elobservatoriocetelem.es/wp-content/uploads/2016/11/dentistaweb.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://exitosanoticias.pe/v1/wp-content/uploads/2020/06/dentista-en-tiempos-de-covid.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://fixorthodontics.com/wp-content/uploads/2017/02/La-importancia-de-visitar-el-dentista.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://image.freepik.com/foto-gratis/hermosa-chica-sentada-oficina-dentista_1157-21020.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://image.freepik.com/foto-gratis/mujer-dentista-paciente-nina-hablando-oficina-clinica-dental_109285-4092.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://img.freepik.com/foto-gratis/feliz-mujer-dentista-clinica_23-2147879213.jpg?size=626&ext=jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://cadenaser00.epimg.net/emisora/imagenes/2018/06/18/radio_murcia/1529344891_666302_1529345467_noticia_normal.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="https://image.freepik.com/foto-gratis/dentista-masculino-trabajando-microscopio-clinica-dentista-moderna_10069-2076.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clientes contenedor">
            <h2 class="titulo">Que dicen nuestros clientes</h2>
            <div class="card">
                <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/perfil-resilencia.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, illo.</p>
                </div>
            </div>
            <div class="card">
                <img src="https://www.christiangarces.org/wp-content/uploads/2017/11/perfil-profesional.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, illo.</p>
                </div>
            </div>
        </div>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="https://image.flaticon.com/icons/png/512/507/507140.png" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, beatae.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://image.flaticon.com/icons/png/512/1331/1331704.png" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, beatae.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://image.flaticon.com/icons/svg/1446/1446912.svg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, beatae.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>5544226</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>abc@hotmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>5544226</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; OdontoWEB | 2020</h2>
    </footer>
</body>
</html>