<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Registrar Nuevo Paciente</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Registro</a></li>
                        <li class="breadcrumb-item active">Pagina</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="content">

                                <div class="container-fluid">
                                    <div class="card-blue">
                                        <h1 class="text-center text-info"></h1>
                                        <div class="row">
                                            <div class="container">
                                                <form class="formulario">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label class="is-valid" for="inputNombre">Nombre: </label>
                                                            <input type="text"
                                                                   class="form-control text-primary"
                                                                   id="inputNombre" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputApellido">Apellidos:</label>
                                                            <input type="text" class="form-control" id="inputApellido" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3">
                                                            <label for="inputDNI">DNI</label>
                                                            <input type="text" class="form-control" id="inputDNI" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
                                                            <input type="date"
                                                                   class="form-control"
                                                                   id="inputFechaNacimiento" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="inputTelefono">Telefono</label>
                                                            <input type="tel" class="form-control" id="inputTelefono" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="inputEstadoCivil">Estado Civil</label>
                                                            <select id="inputEstadoCivil" class="form-control">
                                                                <option selected>Seleccionar...</option>
                                                                <option>Soltero</option>
                                                                <option>Casado</option>
                                                                <option>Divorciado</option>
                                                                <option>Viudo</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="card">
                                                        <div class="card-header">Lugar de Nacimiento</div>
                                                        <div class="card-body">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-4">
                                                                    <label for="inputDepartamento">Departamento</label>
                                                                    <select id="inputDepartamento" class="form-control">
                                                                        <option selected>Seleccionar...</option>
                                                                        <option>Cajamarca</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label for="inputProvincia">Provincia</label>
                                                                    <select id="inputProvincia" class="form-control">
                                                                        <option selected>Seleccionar...</option>
                                                                        <option>Cajamarca</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label for="inputDistrito">Distrito</label>
                                                                    <select id="inputDistrito" class="form-control">
                                                                        <option selected>Seleccionar...</option>
                                                                        <option>Cajamarca</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputDireccion">Direccion</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="inputDireccion"
                                                               placeholder="Av. Mario Urteaga # 1000" />
                                                    </div>

                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="far fa-save"></i> Aceptar
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class="far fa-window-close"></i> Cancelar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
